<div>
    <h2>
        <span>Orders</span>
        <button class="btn btn-primary float-right create-order" [routerLink]="['/', { outlets: { popup: ['order-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span>Updated Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalCharges"><span>Total Charges</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderId"><span>Order Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trackingNumber"><span>Tracking Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shipperId"><span>Shipper Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="recipientId"><span>Recipient Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="itemId"><span>Item Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="serviceId"><span>Service Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="promotionId"><span>Promotion Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user"><span>User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receiptId"><span>Receipt Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="labelId"><span>Label Id</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td><a [routerLink]="['../order', order.id ]">{{order.id}}</a></td>
                <td>{{order.createdDate | date:'mediumDate'}}</td>
                <td>{{order.updatedDate | date:'mediumDate'}}</td>
                <td>{{order.totalCharges}}</td>
                <td>{{order.orderId}}</td>
                <td>{{order.trackingNumber}}</td>
                <td>{{order.shipperId}}</td>
                <td>{{order.recipientId}}</td>
                <td>{{order.itemId}}</td>
                <td>{{order.serviceId}}</td>
                <td>{{order.promotionId}}</td>
                <td>{{order.user}}</td>
                <td>{{order.receiptId}}</td>
                <td>{{order.labelId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../order', order.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="orders && orders.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
