
<div *ngIf="order">
    <h2><span>Order</span> {{order.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{order.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
            <span>{{order.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Total Charges</span></dt>
        <dd>
            <span>{{order.totalCharges}}</span>
        </dd>
        <dt><span>Order Id</span></dt>
        <dd>
            <span>{{order.orderId}}</span>
        </dd>
        <dt><span>Tracking Number</span></dt>
        <dd>
            <span>{{order.trackingNumber}}</span>
        </dd>
        <dt><span>Shipper Id</span></dt>
        <dd>
            <span>{{order.shipperId}}</span>
        </dd>
        <dt><span>Recipient Id</span></dt>
        <dd>
            <span>{{order.recipientId}}</span>
        </dd>
        <dt><span>Item Id</span></dt>
        <dd>
            <span>{{order.itemId}}</span>
        </dd>
        <dt><span>Service Id</span></dt>
        <dd>
            <span>{{order.serviceId}}</span>
        </dd>
        <dt><span>Promotion Id</span></dt>
        <dd>
            <span>{{order.promotionId}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <span>{{order.user}}</span>
        </dd>
        <dt><span>Receipt Id</span></dt>
        <dd>
            <span>{{order.receiptId}}</span>
        </dd>
        <dt><span>Label Id</span></dt>
        <dd>
            <span>{{order.labelId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order/'+ order.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
