
<div *ngIf="address">
    <h2><span>Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{address.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
            <span>{{address.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{address.name}}</span>
        </dd>
        <dt><span>Address 1</span></dt>
        <dd>
            <span>{{address.address1}}</span>
        </dd>
        <dt><span>Address 2</span></dt>
        <dd>
            <span>{{address.address2}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span>Province</span></dt>
        <dd>
            <span>{{address.province}}</span>
        </dd>
        <dt><span>Province Code</span></dt>
        <dd>
            <span>{{address.provinceCode}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span>Country Code</span></dt>
        <dd>
            <span>{{address.countryCode}}</span>
        </dd>
        <dt><span>Postal Code</span></dt>
        <dd>
            <span>{{address.postalCode}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{address.phone}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <span>{{address.user}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
