<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAddressLabel">Create or edit a Address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!address.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="address.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="address.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedDate">Updated Date</label>
            <div class="input-group">
                <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker  #updatedDateDp="ngbDatepicker" [(ngModel)]="address.updatedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="updatedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="address.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address1">Address 1</label>
            <input type="text" class="form-control" name="address1" id="field_address1"
                [(ngModel)]="address.address1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address2">Address 2</label>
            <input type="text" class="form-control" name="address2" id="field_address2"
                [(ngModel)]="address.address2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="address.city"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_province">Province</label>
            <input type="text" class="form-control" name="province" id="field_province"
                [(ngModel)]="address.province"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_provinceCode">Province Code</label>
            <input type="text" class="form-control" name="provinceCode" id="field_provinceCode"
                [(ngModel)]="address.provinceCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="address.country"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_countryCode">Country Code</label>
            <input type="text" class="form-control" name="countryCode" id="field_countryCode"
                [(ngModel)]="address.countryCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                [(ngModel)]="address.postalCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="address.phone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                [(ngModel)]="address.user"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
