<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myItemLabel">Create or edit a Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" id="field_type" [(ngModel)]="item.type">
                <option *ngFor="let type of packaging_types" [value]="type">{{type}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_unit">Unit</label>
            <select class="form-control" name="unit" id="field_unit" [(ngModel)]="item.unit">
                <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="item.weight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                   [(ngModel)]="item.value"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                [(ngModel)]="item.length"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_width">Width</label>
            <input type="number" class="form-control" name="width" id="field_width"
                [(ngModel)]="item.width"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_height">Height</label>
            <input type="number" class="form-control" name="height" id="field_height"
                [(ngModel)]="item.height"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" name="user" id="field_user" [(ngModel)]="item.user">
                <option *ngFor="let user of users" [value]="user.login">{{user.login}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
