
<div *ngIf="expressAccount">
    <h2><span>Express Account</span> {{expressAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Cp User Name</span></dt>
        <dd>
            <span>{{expressAccount.cpUserName}}</span>
        </dd>
        <dt><span>Cp Password</span></dt>
        <dd>
            <span>{{expressAccount.cpPassword}}</span>
        </dd>
        <dt><span>Cp Mailed By</span></dt>
        <dd>
            <span>{{expressAccount.cpMailedBy}}</span>
        </dd>
        <dt><span>Cp Contract Id</span></dt>
        <dd>
            <span>{{expressAccount.cpContractId}}</span>
        </dd>
        <dt><span>Ups User Name</span></dt>
        <dd>
            <span>{{expressAccount.upsUserName}}</span>
        </dd>
        <dt><span>Ups Password</span></dt>
        <dd>
            <span>{{expressAccount.upsPassword}}</span>
        </dd>
        <dt><span>Ups Access License Number</span></dt>
        <dd>
            <span>{{expressAccount.upsAccessLicenseNumber}}</span>
        </dd>
        <dt><span>Ups Account Number</span></dt>
        <dd>
            <span>{{expressAccount.upsAccountNumber}}</span>
        </dd>
        <dt><span>Fedex Account Number</span></dt>
        <dd>
            <span>{{expressAccount.fedexAccountNumber}}</span>
        </dd>
        <dt><span>Fedex Meter Number</span></dt>
        <dd>
            <span>{{expressAccount.fedexMeterNumber}}</span>
        </dd>
        <dt><span>Fedex Key</span></dt>
        <dd>
            <span>{{expressAccount.fedexKey}}</span>
        </dd>
        <dt><span>Fedex Password</span></dt>
        <dd>
            <span>{{expressAccount.fedexPassword}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'express-account/'+ expressAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
