<div class="tab-content" style="margin: 20px;">
    <div class="table-responsive" *ngIf="services">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th><span>Company</span></th>
                <th><span>Name</span></th>
                <th><span>Price</span> <span class="fa fa-sort" (click)="sort()"></span></th>
                <!--<th><span>Delivery Date</span></th>-->
                <th><span>Transit Time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of services ;trackBy: trackId" (click)="selectService(service)">
                <td><input type="checkbox" class="checkbox" [checked]="service == selectedService"></td>
                <td>{{service.company}}</td>
                <td>{{service.name}}</td>
                <td>{{service.price | currency:'CAD':true}}</td>
                <!--<td>{{service.expectedDeliveryDate}}</td>-->
                <td>{{service.expectedTransitTime}} Day(s)</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="shipment()">Start a Shipment</button>
    </div>
</div>
