<div>
    <h2>
        <span>Items</span>
        <button class="btn btn-primary float-right create-item" [routerLink]="['/', { outlets: { popup: ['item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="items">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedDate"><span>Updated Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span>Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unit"><span>Unit</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weight"><span>Weight</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="length"><span>Length</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="width"><span>Width</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="height"><span>Height</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user"><span>User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId">
                <td><a [routerLink]="['../item', item.id ]">{{item.id}}</a></td>
                <td>{{item.createdDate | date:'mediumDate'}}</td>
                <td>{{item.updatedDate | date:'mediumDate'}}</td>
                <td>{{item.type}}</td>
                <td>{{item.value}}</td>
                <td>{{item.unit}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.length}}</td>
                <td>{{item.width}}</td>
                <td>{{item.height}}</td>
                <td>{{item.user}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item', item.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="items && items.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
