<div>
    <div class="row">
        <div class="col-sm-12">
            <h2>
                <div class="form-group">
                    <label style="float: left">Receipts</label>
                    <input type="text" class="form-control" [(ngModel)]="search" style="width: 20%;float: left;margin-left: 50px">
                    <!--<button class="btn btn-primary float-right create-receipt" [routerLink]="['/', { outlets: { popup: ['receipt-new'] } }]">-->
                        <!--<span class="fa fa-plus"></span>-->
                        <!--<span >-->
                        <!--Create new Receipt-->
                        <!--</span>-->
                    <!--</button>-->
                </div>
            </h2>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="receipts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id" *ngIf="currentAccount && currentAccount.authorities.indexOf('ROLE_ADMIN') >= 0"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="updatedDate"><span>Updated Date</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="message"><span>Message</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="complete"><span>Complete</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cardType"><span>Card Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="txnNumber"><span>Txn Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="receiptId"><span>Receipt Id</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="corporateCard"><span>Corporate Card</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="recurSuccess"><span>Recur Success</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="itdresponse"><span>Itdresponse</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="iso"><span>Iso</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="isVisaDebit"><span>Is Visa Debit</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="timedOut"><span>Timed Out</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="messageId"><span>Message Id</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="ticket"><span>Ticket</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="transDate"><span>Trans Date</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="cavvResultCode"><span>Cavv Result Code</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="responseCode"><span>Response Code</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="authCode"><span>Auth Code</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="statusCode"><span>Status Code</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="transAmount"><span>Trans Amount</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="transType"><span>Trans Type</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="nextRecurDate"><span>Next Recur Date</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="avsResultCode"><span>Avs Result Code</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="recurEndDate"><span>Recur End Date</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="transTime"><span>Trans Time</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="cvdResultCode"><span>Cvd Result Code</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="bankTotals"><span>Bank Totals</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="referenceNum"><span>Reference Num</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="statusMessage"><span>Status Message</span> <span class="fa fa-sort"></span></th>-->
            <!--<th jhiSortBy="recurUpdateSuccess"><span>Recur Update Success</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="user" *ngIf="currentAccount && currentAccount.authorities.indexOf('ROLE_ADMIN') >= 0"><span>User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receipt of receipts |searchfilter:'txnNumber':search;trackBy: trackId">
                <td *ngIf="currentAccount && currentAccount.authorities.indexOf('ROLE_ADMIN') >= 0"><a [routerLink]="['../receipt', receipt.id ]">{{receipt.id}}</a></td>
                <td>{{receipt.createdDate | date:'mediumDate'}}</td>
                <!--<td>{{receipt.updatedDate | date:'mediumDate'}}</td>-->
                <td>{{receipt.message}}</td>
                <td>{{receipt.complete}}</td>
                <td>{{receipt.cardType}}</td>
                <td>{{receipt.txnNumber}}</td>
                <!--<td>{{receipt.receiptId}}</td>-->
                <!--<td>{{receipt.corporateCard}}</td>-->
                <!--<td>{{receipt.recurSuccess}}</td>-->
                <!--<td>{{receipt.itdresponse}}</td>-->
                <!--<td>{{receipt.iso}}</td>-->
                <!--<td>{{receipt.isVisaDebit}}</td>-->
                <!--<td>{{receipt.timedOut}}</td>-->
                <!--<td>{{receipt.messageId}}</td>-->
                <!--<td>{{receipt.ticket}}</td>-->
                <!--<td>{{receipt.transDate}}</td>-->
                <!--<td>{{receipt.cavvResultCode}}</td>-->
                <!--<td>{{receipt.responseCode}}</td>-->
                <!--<td>{{receipt.authCode}}</td>-->
                <!--<td>{{receipt.statusCode}}</td>-->
                <!--<td>{{receipt.transAmount}}</td>-->
                <!--<td>{{receipt.transType}}</td>-->
                <!--<td>{{receipt.nextRecurDate}}</td>-->
                <!--<td>{{receipt.avsResultCode}}</td>-->
                <!--<td>{{receipt.recurEndDate}}</td>-->
                <!--<td>{{receipt.transTime}}</td>-->
                <!--<td>{{receipt.cvdResultCode}}</td>-->
                <!--<td>{{receipt.bankTotals}}</td>-->
                <!--<td>{{receipt.referenceNum}}</td>-->
                <!--<td>{{receipt.statusMessage}}</td>-->
                <!--<td>{{receipt.recurUpdateSuccess}}</td>-->
                <td *ngIf="currentAccount && currentAccount.authorities.indexOf('ROLE_ADMIN') >= 0">{{receipt.user}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../receipt', receipt.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="hidden-md-down">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="hidden-md-down">Delete</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="receipts && receipts.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
