
<div *ngIf="receipt">
    <h2><span>Receipt</span> {{receipt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{receipt.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
            <span>{{receipt.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Message</span></dt>
        <dd>
            <span>{{receipt.message}}</span>
        </dd>
        <dt><span>Complete</span></dt>
        <dd>
            <span>{{receipt.complete}}</span>
        </dd>
        <dt><span>Card Type</span></dt>
        <dd>
            <span>{{receipt.cardType}}</span>
        </dd>
        <dt><span>Txn Number</span></dt>
        <dd>
            <span>{{receipt.txnNumber}}</span>
        </dd>
        <dt><span>Receipt Id</span></dt>
        <dd>
            <span>{{receipt.receiptId}}</span>
        </dd>
        <dt><span>Corporate Card</span></dt>
        <dd>
            <span>{{receipt.corporateCard}}</span>
        </dd>
        <dt><span>Recur Success</span></dt>
        <dd>
            <span>{{receipt.recurSuccess}}</span>
        </dd>
        <dt><span>Itdresponse</span></dt>
        <dd>
            <span>{{receipt.itdresponse}}</span>
        </dd>
        <dt><span>Iso</span></dt>
        <dd>
            <span>{{receipt.iso}}</span>
        </dd>
        <dt><span>Is Visa Debit</span></dt>
        <dd>
            <span>{{receipt.isVisaDebit}}</span>
        </dd>
        <dt><span>Timed Out</span></dt>
        <dd>
            <span>{{receipt.timedOut}}</span>
        </dd>
        <dt><span>Message Id</span></dt>
        <dd>
            <span>{{receipt.messageId}}</span>
        </dd>
        <dt><span>Ticket</span></dt>
        <dd>
            <span>{{receipt.ticket}}</span>
        </dd>
        <dt><span>Trans Date</span></dt>
        <dd>
            <span>{{receipt.transDate}}</span>
        </dd>
        <dt><span>Cavv Result Code</span></dt>
        <dd>
            <span>{{receipt.cavvResultCode}}</span>
        </dd>
        <dt><span>Response Code</span></dt>
        <dd>
            <span>{{receipt.responseCode}}</span>
        </dd>
        <dt><span>Auth Code</span></dt>
        <dd>
            <span>{{receipt.authCode}}</span>
        </dd>
        <dt><span>Status Code</span></dt>
        <dd>
            <span>{{receipt.statusCode}}</span>
        </dd>
        <dt><span>Trans Amount</span></dt>
        <dd>
            <span>{{receipt.transAmount}}</span>
        </dd>
        <dt><span>Trans Type</span></dt>
        <dd>
            <span>{{receipt.transType}}</span>
        </dd>
        <dt><span>Next Recur Date</span></dt>
        <dd>
            <span>{{receipt.nextRecurDate}}</span>
        </dd>
        <dt><span>Avs Result Code</span></dt>
        <dd>
            <span>{{receipt.avsResultCode}}</span>
        </dd>
        <dt><span>Recur End Date</span></dt>
        <dd>
            <span>{{receipt.recurEndDate}}</span>
        </dd>
        <dt><span>Trans Time</span></dt>
        <dd>
            <span>{{receipt.transTime}}</span>
        </dd>
        <dt><span>Cvd Result Code</span></dt>
        <dd>
            <span>{{receipt.cvdResultCode}}</span>
        </dd>
        <dt><span>Bank Totals</span></dt>
        <dd>
            <span>{{receipt.bankTotals}}</span>
        </dd>
        <dt><span>Reference Num</span></dt>
        <dd>
            <span>{{receipt.referenceNum}}</span>
        </dd>
        <dt><span>Status Message</span></dt>
        <dd>
            <span>{{receipt.statusMessage}}</span>
        </dd>
        <dt><span>Recur Update Success</span></dt>
        <dd>
            <span>{{receipt.recurUpdateSuccess}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <span>{{receipt.user}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'receipt/'+ receipt.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
