
<div *ngIf="promotion">
    <h2><span>Promotion</span> {{promotion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{promotion.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
            <span>{{promotion.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{promotion.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{promotion.description}}</span>
        </dd>
        <dt><span>Percentage Off</span></dt>
        <dd>
            <span>{{promotion.percentageOff}}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
            <span>{{promotion.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Expired Date</span></dt>
        <dd>
            <span>{{promotion.expiredDate | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'promotion/'+ promotion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
