<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLabelLabel">Create or edit a Label</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!label.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="label.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="label.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedDate">Updated Date</label>
            <div class="input-group">
                <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker  #updatedDateDp="ngbDatepicker" [(ngModel)]="label.updatedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="updatedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_trackingNumber">Tracking Number</label>
            <input type="text" class="form-control" name="trackingNumber" id="field_trackingNumber"
                [(ngModel)]="label.trackingNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_shippingLabel">Shipping Label</label>
            <div>
                <div *ngIf="label.shippingLabel" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(label.shippingLabelContentType, label.shippingLabel)">open</a><br>
                    <span class="pull-left">{{label.shippingLabelContentType}}, {{byteSize(label.shippingLabel)}}</span>
                    <button type="button" (click)="label.shippingLabel=null;label.shippingLabelContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, label, 'shippingLabel', false)"/>
            </div>
            <input type="hidden" class="form-control" name="shippingLabel" id="field_shippingLabel"
                [(ngModel)]="label.shippingLabel"  />
            <input type="hidden" class="form-control" name="shippingLabelContentType" id="field_shippingLabelContentType"
                [(ngModel)]="label.shippingLabelContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_link">Link</label>
            <input type="text" class="form-control" name="link" id="field_link"
                [(ngModel)]="label.link"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_shipmentId">Shipment Id</label>
            <input type="text" class="form-control" name="shipmentId" id="field_shipmentId"
                [(ngModel)]="label.shipmentId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_shipmentStatus">Shipment Status</label>
            <input type="text" class="form-control" name="shipmentStatus" id="field_shipmentStatus"
                [(ngModel)]="label.shipmentStatus"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                [(ngModel)]="label.user"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
