<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReceiptLabel">Create or edit a Receipt</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!receipt.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="receipt.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="receipt.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedDate">Updated Date</label>
            <div class="input-group">
                <input id="field_updatedDate" type="text" class="form-control" name="updatedDate" ngbDatepicker  #updatedDateDp="ngbDatepicker" [(ngModel)]="receipt.updatedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="updatedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_message">Message</label>
            <input type="text" class="form-control" name="message" id="field_message"
                [(ngModel)]="receipt.message"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_complete">Complete</label>
            <input type="text" class="form-control" name="complete" id="field_complete"
                [(ngModel)]="receipt.complete"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cardType">Card Type</label>
            <input type="text" class="form-control" name="cardType" id="field_cardType"
                [(ngModel)]="receipt.cardType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_txnNumber">Txn Number</label>
            <input type="text" class="form-control" name="txnNumber" id="field_txnNumber"
                [(ngModel)]="receipt.txnNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_receiptId">Receipt Id</label>
            <input type="text" class="form-control" name="receiptId" id="field_receiptId"
                [(ngModel)]="receipt.receiptId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_corporateCard">Corporate Card</label>
            <input type="text" class="form-control" name="corporateCard" id="field_corporateCard"
                [(ngModel)]="receipt.corporateCard"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_recurSuccess">Recur Success</label>
            <input type="text" class="form-control" name="recurSuccess" id="field_recurSuccess"
                [(ngModel)]="receipt.recurSuccess"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_itdresponse">Itdresponse</label>
            <input type="text" class="form-control" name="itdresponse" id="field_itdresponse"
                [(ngModel)]="receipt.itdresponse"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_iso">Iso</label>
            <input type="text" class="form-control" name="iso" id="field_iso"
                [(ngModel)]="receipt.iso"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isVisaDebit">Is Visa Debit</label>
            <input type="text" class="form-control" name="isVisaDebit" id="field_isVisaDebit"
                [(ngModel)]="receipt.isVisaDebit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_timedOut">Timed Out</label>
            <input type="text" class="form-control" name="timedOut" id="field_timedOut"
                [(ngModel)]="receipt.timedOut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_messageId">Message Id</label>
            <input type="text" class="form-control" name="messageId" id="field_messageId"
                [(ngModel)]="receipt.messageId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_ticket">Ticket</label>
            <input type="text" class="form-control" name="ticket" id="field_ticket"
                [(ngModel)]="receipt.ticket"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_transDate">Trans Date</label>
            <input type="text" class="form-control" name="transDate" id="field_transDate"
                [(ngModel)]="receipt.transDate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cavvResultCode">Cavv Result Code</label>
            <input type="text" class="form-control" name="cavvResultCode" id="field_cavvResultCode"
                [(ngModel)]="receipt.cavvResultCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_responseCode">Response Code</label>
            <input type="text" class="form-control" name="responseCode" id="field_responseCode"
                [(ngModel)]="receipt.responseCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_authCode">Auth Code</label>
            <input type="text" class="form-control" name="authCode" id="field_authCode"
                [(ngModel)]="receipt.authCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_statusCode">Status Code</label>
            <input type="text" class="form-control" name="statusCode" id="field_statusCode"
                [(ngModel)]="receipt.statusCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_transAmount">Trans Amount</label>
            <input type="text" class="form-control" name="transAmount" id="field_transAmount"
                [(ngModel)]="receipt.transAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_transType">Trans Type</label>
            <input type="text" class="form-control" name="transType" id="field_transType"
                [(ngModel)]="receipt.transType"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nextRecurDate">Next Recur Date</label>
            <input type="text" class="form-control" name="nextRecurDate" id="field_nextRecurDate"
                [(ngModel)]="receipt.nextRecurDate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_avsResultCode">Avs Result Code</label>
            <input type="text" class="form-control" name="avsResultCode" id="field_avsResultCode"
                [(ngModel)]="receipt.avsResultCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_recurEndDate">Recur End Date</label>
            <input type="text" class="form-control" name="recurEndDate" id="field_recurEndDate"
                [(ngModel)]="receipt.recurEndDate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_transTime">Trans Time</label>
            <input type="text" class="form-control" name="transTime" id="field_transTime"
                [(ngModel)]="receipt.transTime"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cvdResultCode">Cvd Result Code</label>
            <input type="text" class="form-control" name="cvdResultCode" id="field_cvdResultCode"
                [(ngModel)]="receipt.cvdResultCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bankTotals">Bank Totals</label>
            <input type="text" class="form-control" name="bankTotals" id="field_bankTotals"
                [(ngModel)]="receipt.bankTotals"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_referenceNum">Reference Num</label>
            <input type="text" class="form-control" name="referenceNum" id="field_referenceNum"
                [(ngModel)]="receipt.referenceNum"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_statusMessage">Status Message</label>
            <input type="text" class="form-control" name="statusMessage" id="field_statusMessage"
                [(ngModel)]="receipt.statusMessage"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_recurUpdateSuccess">Recur Update Success</label>
            <input type="text" class="form-control" name="recurUpdateSuccess" id="field_recurUpdateSuccess"
                [(ngModel)]="receipt.recurUpdateSuccess"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                [(ngModel)]="receipt.user"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
