<ngb-carousel>
    <ng-template ngbSlide *ngFor="let ads of AllAds">
        <img src="{{ads.imagePath}}" alt="Random first slide" style="width: 100%">
        <div class="carousel-caption">
            <h3>{{ads.name}}</h3>
            <p>{{ads.description}}</p>
        </div>
    </ng-template>
    <!--<ng-template ngbSlide>-->
        <!--<img src="https://lorempixel.com/900/500?r=2" alt="Random second slide" style="width: 100%">-->
        <!--<div class="carousel-caption">-->
            <!--<h3>Second slide label</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
        <!--</div>-->
    <!--</ng-template>-->
    <!--<ng-template ngbSlide>-->
        <!--<img src="https://lorempixel.com/900/500?r=3" alt="Random third slide" style="width: 100%">-->
        <!--<div class="carousel-caption">-->
            <!--<h3>Third slide label</h3>-->
            <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
        <!--</div>-->
    <!--</ng-template>-->
</ngb-carousel>
<hr>
<div id="bg" style="background-color: #ccc;display:none; width: 100%;position:absolute;height: 100%;opacity: 0.4;z-index: 999; top:0; left:0;"></div>
<div class="loading" id="load-animation" style="z-index:9999;display:none;position:absolute;top:50%; left:50%;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="container">
    <section style="margin-bottom:3px;">
        <div class="row">
            <div class="col-md-12">
                <header style="margin-bottom:10px;">
                    <h1 class="text-center">Track Your Package</h1></header>
                <div class="input-group" style="margin-bottom:10px;margin-top:30px;">
                    <div class="input-group-addon"><span><strong>Tacking Number: </strong></span></div>
                    <input class="form-control" type="text" name="trackingNumber" [(ngModel)]="trackingNumber">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="track()">Go!</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <header style="margin-top:30px;margin-bottom:15px;">
                    <h1 class="text-center">Rate Your Shipment</h1></header>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-4">
                <form>
                    <fieldset *ngIf="rates.sender">
                        <legend style="margin-bottom:30px;">From :</legend>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span>Country </span></div>
                                <input class="form-control" type="text" name="from_country" [(ngModel)]="rates.sender.country"  readonly="">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<label class="input-group-addon" for="from_Province">State Or Province</label>-->
                                <!--<select class="form-control" name="from_Province" id="from_Province" [(ngModel)]="rates.sender.province"-->
                                        <!--(change)="setProvinceCode('sender')">-->
                                    <!--<option *ngFor="let state of senderStates" [value]="state.name">{{state.name}}</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<div class="input-group-addon"><span>Address</span></div>-->
                                <!--<input class="form-control" type="text" name="from_address" [(ngModel)]="rates.sender.address1"  placeholder="Address">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span>Postal Code</span></div>
                                <input class="form-control" type="text" name="from_postalCode" required="" [(ngModel)]="rates.sender.postalCode"  placeholder="Postal Code">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">
                <form class="form-horizontal" role="form">
                    <fieldset *ngIf="rates.recipient">
                        <legend style="margin-bottom:30px;">To :</legend>
                        <div class="form-group">
                            <div class="input-group">
                                <label class="input-group-addon" for="recipient_country">Country</label>
                                <select class="form-control" name="recipient_country" id="recipient_country"  required="" [(ngModel)]="rates.recipient.country"
                                        (change)="setCountryCode()" *ngIf="countries.length > 0">
                                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<label class="input-group-addon" for="recipient_Province">State Or Province</label>-->
                                <!--<select class="form-control" name="recipient_Province" id="recipient_Province" [(ngModel)]="rates.recipient.province"-->
                                        <!--(change)="setProvinceCode('recipient')">-->
                                    <!--<option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<div class="input-group-addon"><span>Address</span></div>-->
                                <!--<input class="form-control" type="text" name="to_address" [(ngModel)]="rates.recipient.address1"  placeholder="Address">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span>Postal Code</span></div>
                                <input class="form-control" type="text" name="to_postalCode" required="" [(ngModel)]="rates.recipient.postalCode" placeholder="Postal Code">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">
                <form>
                    <fieldset *ngIf="rates.parcel">
                        <legend style="margin-bottom:30px;">Item :</legend>
                        <div class="form-group">
                            <select class="form-control" name="itemType" [(ngModel)]="rates.parcel.type">
                                <option value="Customer Package">Package</option>
                                <option value="Envelope">Envelop</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><span>Weight </span></div>
                                <input class="form-control" type="text" name="weight" [(ngModel)]="rates.parcel.weight" required="">
                                <div class="input-group-btn">
                                    <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{ rates.parcel.unit }}</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                                            <button class="dropdown-item" (click)="rates.parcel.unit = 'KGS'">KGS</button>
                                            <button class="dropdown-item" (click)="rates.parcel.unit = 'LBS'">LBS</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<div class="input-group">-->
                                <!--<div class="input-group-addon"><span>Declared Value: $</span></div>-->
                                <!--<input class="form-control" type="text" name="value" [(ngModel)]="rates.parcel.value">-->
                            <!--</div>-->
                        <!--</div>-->
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom:0px;">
            <div class="col-md-6" style="opacity: 0.6">
                <button class="btn btn-warning btn-block" type="reset" (click)="reset()">Reset </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success btn-block" type="button" (click)="getRates()">Rate </button>
            </div>
        </div>
    </section>
</div>
<hr>
<!--<div class="highlight-clean">-->
    <!--<div class="container">-->
        <!--<div class="intro">-->
            <!--<h2 class="text-center">Highlight</h2>-->
            <!--<p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>-->
        <!--</div>-->
        <!--<div class="buttons"><a class="btn btn-primary" role="button" href="#">Primary</a>-->
            <!--<button class="btn btn-default" type="button">Secondary</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
