
<div *ngIf="service">
    <h2><span>Service</span> {{service.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{service.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Updated Date</span></dt>
        <dd>
            <span>{{service.updatedDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <span>{{service.company}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{service.name}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{service.code}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{service.price}}</span>
        </dd>
        <dt><span>Expected Delivery Date</span></dt>
        <dd>
            <span>{{service.expectedDeliveryDate}}</span>
        </dd>
        <dt><span>Expected Transit Time</span></dt>
        <dd>
            <span>{{service.expectedTransitTime}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <span>{{service.user}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'service/'+ service.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
