<div class="tab-content" style="margin: 20px;">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="input-group-btn">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="sender_address" ngbDropdownToggle
                        [disabled]="senderAddresses.length <= 0">Select Your Sender Address</button>
                    <div class="dropdown-menu" aria-labelledby="sender_address">
                        <button class="dropdown-item" *ngFor="let address of senderAddresses" (click)="select_address('sender', address)">{{ address.name }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="input-group-btn" style="float: right;">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="recipient_address" ngbDropdownToggle
                            [disabled]="addresses.length <= 0">Select Your Recipient Address</button>
                    <div class="dropdown-menu" aria-labelledby="recipient_address">
                        <button class="dropdown-item" *ngFor="let address of addresses" (click)="select_address('recipient', address)">{{ address.name }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row" *ngIf="request.sender">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h4>Hello, Where are you shipping from?</h4>
            <hr>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="form-group">
                <label for="sender_contry">Country <span style="color: red">*</span></label>
                <input id="sender_contry" type="text" class="form-control" name="sender_country" required="" readonly [(ngModel)]="request.sender.country"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="sender_name">Company or Name <span style="color: red">*</span></label>
                <input id="sender_name" type="text" class="form-control" name="sender_name" required=""
                       [(ngModel)]="request.sender.name" #sender_name="ngModel"/>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="sender_phone">Phone <span style="color: red">*</span></label>
                <input id="sender_phone" type="text" class="form-control" name="sender_phone" required="" [(ngModel)]="request.sender.phone"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="sender_address1">Address1 <span style="color: red">*</span></label>
                <input id="sender_address1" type="text" class="form-control" name="sender_address1" required="" [(ngModel)]="request.sender.address1"/>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="sender_address2">Address2</label>
                <input id="sender_address2" type="text" class="form-control" name="sender_address2" [(ngModel)]="request.sender.address2"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="sender_city">City <span style="color: red">*</span></label>
                <input id="sender_city" type="text" class="form-control" name="sender_city" required="" [(ngModel)]="request.sender.city"/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="sender_province">Province or State <span style="color: red">*</span></label>
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary btn-block" style="width: 244px" id="sender_province" ngbDropdownToggle>
                        {{ request.sender.province ? request.sender.province : 'Select One' }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sender_province">
                        <button class="dropdown-item" *ngFor="let state of senderStates"
                                (click)="selectState(state, 'sender')">
                            {{ state.name }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="sender_postalCode">Postal Code <span style="color: red">*</span></label>
                <input id="sender_postalCode" type="text" class="form-control" name="sender_postalCode" required="" [(ngModel)]="request.sender.postalCode"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row" *ngIf="request.recipient">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h4>Where is your shipment going?</h4>
            <hr>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="form-group">
                <label for="recipient_country">Country <span style="color: red">*</span></label>
                <select class="form-control" name="recipient_country" id="recipient_country" [(ngModel)]="request.recipient.country"
                        (change)="refresh_states()">
                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="recipient_name">Company or Name <span style="color: red">*</span></label>
                <input id="recipient_name" type="text" class="form-control" name="recipient_name" required="" [(ngModel)]="request.recipient.name"/>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="recipient_phone">Phone <span style="color: red">*</span></label>
                <input id="recipient_phone" type="text" class="form-control" name="recipient_phone" required="" [(ngModel)]="request.recipient.phone"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="recipient_address1">Address1 <span style="color: red">*</span></label>
                <input id="recipient_address1" type="text" class="form-control" name="recipient_address1" required="" [(ngModel)]="request.recipient.address1"/>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="recipient_address2">Address2</label>
                <input id="recipient_address2" type="text" class="form-control" name="recipient_address2" [(ngModel)]="request.recipient.address2"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="recipient_city">City <span style="color: red">*</span></label>
                <input id="recipient_city" type="text" class="form-control" name="recipient_city" required="" [(ngModel)]="request.recipient.city"/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient_province">Province or State <span style="color: red">*</span></label>
                <div ngbDropdown up="true" class="d-inline-block">
                    <button class="btn btn-outline-primary btn-block" style="width: 244px" id="recipient_province" ngbDropdownToggle
                            [disabled]="recipientStates.length <= 0">
                        {{ request.recipient.province ? request.recipient.province : 'Select One' }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="recipient_province">
                        <button class="dropdown-item" *ngFor="let state of recipientStates"
                                (click)="selectState(state, 'recipient')">
                            {{ state.name }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="recipient_postalCode">Postal Code <span style="color: red">*</span></label>
                <input id="recipient_postalCode" type="text" class="form-control" name="recipient_postalCode" required="" [(ngModel)]="request.recipient.postalCode"/>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<div class="wizard-footer">
    <div class="pull-right" style="margin-right: 20px;">
        <input type="button" class="btn btn-next btn-fill btn-success btn-wd btn-sm"
               (click)="next()" name="next" value="Continue">
    </div>
    <div class="clearfix"></div>
</div>
