<div class="row">
    <div class="col-sm-3">
        <md-card *ngIf="account">
            <div class="col-sm-12" *ngFor="let nav of managements">
                <button md-button style="width: 180px; text-align: left" routerLink="{{nav.link}}" routerLinkActive="active" *ngIf="checkPriv(nav)">
                    <i class="fa fa-fw" [ngClass]="nav.icon" aria-hidden="true"></i>
                    <span>{{nav.name}}</span>
                </button>
            </div>
        </md-card>
    </div>

    <div class="col-sm-9">
        <md-card>
            <router-outlet></router-outlet>
        </md-card>
    </div>
</div>
